<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Writing well designed, testable, efficient code by using best software development practices.Creating website layout/user interfaces by using standard HTML/CSS practices. Integrating data from various back-end services and databases">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title CNarvaez Portfolio</title>
    
    @Scripts.Render("~/bundles/modernizr")

    <link rel="shortcut icon" href="~/assets/images/Me.jpg">
    <link rel="apple-touch-icon" href="~/assets/images/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/images/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/images/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/assets/images/touch-icon-ipad-retina.png">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/styles-orange.css">
    <link href="~/assets/css/LosStyle.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeDefault.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet" />


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

</head>
<body data-spy="scroll" data-target="#main-nav" data-offset="200">
    <div id="page-loader"><span class="page-loader-gif"></span></div>
    <div id="main-nav" class="navbar navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#site-nav">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>

                <!--======= NAME ========-->
                <a class="navbar-brand" href="#home">Carlos Narvaez</a>

            </div>

            <div id="site-nav" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="sr-only">
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about"><i class="fa fa-user"></i> About Me</a>
                    </li>
                    <li>
                        <a href="#skills"><i class="fa fa-pie-chart"></i> Skills</a>
                    </li>
                    <li>
                        <a href="#portfolio"><i class="fa fa-th"></i> Works</a>
                    </li>
                    <li>
                        <a href="#contact"><i class="fa fa-comments-o"></i> Contact Me</a>
                    </li>
                    <li>
                        <a href="http://cnarvaez-blog.azurewebsites.net/" target="_blank"><i class="fa fa-rss"></i>Blog</a>
                    </li>

                </ul>
            </div>

        </div>

    </div>


    @RenderBody()
    <hr />
    <footer id="main-footer">
        <!-- FOOTER MAP -->
        <div id="gmapMobil" class="hidden-lg hidden-md"></div>

        <!-- FOOTER Social -->
        <div class="container">
            <ul class="social">
                <li class="wow fadeInRight" data-wow-delay="0s"><a href="https://twitter.com/fabuloscn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="wow fadeInRight" data-wow-delay=".3s"><a href="https://www.facebook.com/carlos.narvaez.315" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="wow fadeInRight" data-wow-delay=".6s"><a href="https://github.com/carlnarv" target="_blank"><i class="fa fa-github"></i></a></li>
                <li class="wow fadeInRight" data-wow-delay=".9s"><a href="https://www.linkedin.com/in/carlos-narvaez-5b931714/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <p>&copy; 2017 - All rights reserved | <a href="#main-nav" target="_blank">Made by Carlos Narvaez</a></p>

        </div>

    </footer><!--=== End Footer ===-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script src="~/assets/js/libs/jquery-1.11.3.min.js"></script>
        <script src="~/assets/js/libs/bootstrap.min.js"></script>*@

    <script src="~/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/assets/js/jquery.easypiechart.min.js"></script>
    <script src="~/assets/js/jquery.masonry.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>

    <script src="~/assets/js/jquery.scrollmagic.min.js"></script>

    <script src="~/assets/js/scripts.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>

    <script src="~/assets/Documents/Factorial.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
    <script src="~/assets/js/losJs.js"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            var token2 = @TempData["ValidateMess"];
            if( token2 == 2)
            {
                window.location.hash = '#emailSection';
            }
        });
    </script>
    <script type="text/javascript">
        $(window).on('load', function () {
            var token = @TempData["Message"];
            if( token == 1)
            {
                swal('Your message has been sent!')
            }
        });
    </script>

    @RenderSection("scripts", required: false)


</body>



</html>
